/* ---------- MAIN IMAGE ---------- */

.main-image {
  position: relative;
  width: 100%;
  height: 650px; /* maybe change later? */
  background-image: url("/images/earth.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
}

.main-image-title {
  position: absolute;
  color: #ffffff;
  top: 20%;
  left: 5%;
}

.main-image-title h1 {
  font-size: 4.5rem;
  letter-spacing: 10px;
  font-weight: 700;
}

/* text goes to center, looks better for mobile */
@media (max-width: 960px) {
  .main-image-title {
    width: 80%; /* needed for paragraph text spread */
    top: 50%; /* RECENTER TO MIDDLE */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .main-image-title h1 {
    margin-bottom: 0px;
    font-size: 7.5rem;
    letter-spacing: 5px;
  }

  .main-image-title p {
    margin-top: 0px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .main-image-title {
    width: 100%; /* needed for text spread adjustment */
  }

  .main-image-title h1 {
    margin-bottom: 0px;
    font-size: 7.5rem;
    letter-spacing: 5px;
  }

  .main-image-title p {
    margin-top: 0px;
    font-size: 1.1rem;
  }
}

/* ---------- MAIN IMAGE -> BUTTON ---------- */

/*
.main-image-title a {
  background-color: #ED1C24;
}
*/

.main-image-btn {
  background-color: #ed1c24;
}

/* ---------- MAIN IMAGE -> ARTICLES ---------- */

.main-articles {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.article-title {
  font-size: 0.75rem;
  color: #dddddd;
  margin-bottom: 5px;
}

.link-title {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.link-title:hover {
  color: #ed1c24;
}

.arrow {
  color: #ed1c24;
  font-weight: 700;
}

/* when going under large screen (desktop) sizes, make the articles on the main image section disappear */
@media (max-width: 960px) {
  .main-articles {
    display: none;
  }
}

/* ---------- FEATURED ARTICLES ---------- */

/* FEATURED ARTICLES -> TITLES */

.featured-header {
  display: flex;
  justify-content: space-between; /* move both to opposite ends, right and left */
  align-items: center; /* center for y axis */
  width: 75%;
  margin: 50px auto;
}

.featured-header h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.more-link {
  font-weight: 700;
  color: #dd3445;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.more-link:hover {
  opacity: 0.65;
}

/* when going under large screen (desktop) sizes, make the articles on the main image section disappear */
@media (max-width: 960px) {
  .featured-header {
    width: 100%;
    justify-content: center; /* move to center for mobile */
  }

  .featured-header h2 {
    font-size: 3rem;
  }

  .more-link {
    display: none;
  }
}

@media (max-width: 480px) {
  .featured-header h2 {
    font-size: 2.5rem;
  }
}

/* FEATURED ARTICLES -> CARDS */

.featured-articles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* span for 2, span for 1 and 1 */
  /* grid-template-rows: auto auto; */
  grid-template-rows: repeat(2, 1fr); /* 2x2 grid */
  gap: 20px;
  width: 75%;
  margin: 0 auto;
}

.featured-articles .featured-card,
.featured-articles .featured-card img {
  height: 100%;
}

.featured-article.large {
  /* you might ask yourself why these are opposite, right? i have literally no clue */
  grid-column: 1 / 2; /* three columns */
  grid-row: 1 / 3; /* two rows */
}

.featured-article.small {
  grid-column: auto;
  grid-row: auto;
}

@media (max-width: 960px) {
  .featured-articles {
    grid-template-columns: 1fr; /* force all articles to go in a single column for mobile */
    grid-template-rows: auto; /* calculate amount of needed rows based on amount of items in column */
    gap: 15px;
    width: 85%;
  }

  .featured-article.large,
  .featured-article.small {
    grid-column: span 1; /* Full-width for each article */
    grid-row: span 1; /* Each in its own row */
  }
}

/* FEATURED ARTICLES -> CARD TITLES AND TEXT */

.featured-content {
  width: 100%;
}

.featured-card {
  position: relative;
  overflow: hidden; /* stop text and background from getting out of the div */
  transition: transform 0.3s ease-in-out;
}

.featured-card:hover {
  transform: scale(1.05);
}

.featured-card img {
  width: 100%;
}

.featured-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  padding: 0px 10px;
}

.featured-article p {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.featured-article h1 {
  width: 90%;
  font-size: 1rem;
  font-weight: 700;
}

.featured-article.large h1 {
  font-size: 1.3rem;
}

/* ---------- SECONDARY IMAGE ---------- */

.secondary-image {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("/images/earth2.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
  margin-top: 50px;
}

.secondary-image-title {
  position: absolute;
  width: 65%;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.secondary-image-title h1 {
  margin: 0px;
  font-size: 4.5rem;
  font-weight: 700;
}

.secondary-image-btn {
  background-color: #0550d8;
}

@media (max-width: 960px) {
  .secondary-image-title {
    width: 90%; /* needed for paragraph text spread */
  }

  .secondary-image-title h1 {
    margin-bottom: 0px;
    font-size: 3.5rem;
  }

  .secondary-image-title p {
    margin-top: 0px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .secondary-image-title {
    width: 100%; /* needed for text spread adjustment */
  }

  .secondary-image-title h1 {
    font-size: 2.5rem;
  }
}

/* ---------- LEARN MORE SECTION ---------- */

/* LEARN MORE -> TITLES */

.learn-more {
  text-align: center;
  margin-top: 40px;
}

.learn-more p {
  font-size: 12px;
}

.learn-more h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 700;
}

/* LEARN MORE -> CARDS */

.topic-card-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.topic-card {
  overflow: hidden; /* make zoom in effect stay inside the card */
  position: relative; /* all elements inside the card will stay inside */
  transition: transform 0.3s ease-in-out;
}

.topic-card:hover .topic-image {
  transform: scale(1.055); /* Zoom in slightly */
}

.topic-image {
  width: 100%;
  height: 500px;
  object-fit: cover; /* keep original aspect ratio, fill container */
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.topic-card h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  margin: 10px;
  padding-top: 10px;
  border-top: 2px solid #eeeeee;
}

.topic-link {
  text-decoration: none;
}

@media (max-width: 960px) {
  .topic-card-main {
    grid-template-columns: 1fr; /* single column */
    width: 85%;
    gap: 20px;
  }

  .topic-image {
    height: auto; /* Adjust height dynamically for smaller screens */
    max-height: 150px; /* Optional: Limit max height on small devices */
  }
}

/* ---------- THIRD IMAGE ---------- */

.third-image {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url("/images/space.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
  margin-top: 50px;
}

.third-image-title {
  position: absolute;
  width: 80%;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
}

.third-image-title h1 {
  margin: 0px;
  font-size: 3.5rem;
}

.third-image-title p {
  margin-bottom: 20px;
}

.third-image-btn {
  background-color: #ab3b25;
}

@media (max-width: 960px) {
  .third-image-title h1 {
    font-size: 2rem;
  }

  .third-image-title p {
    font-size: 0.8rem; /* look good, maybe too small? might change later but kinda irrelevant */
  }
}