/* ---------- MAIN IMAGE ---------- */

.main-image {
  position: relative;
  width: 100%;
  height: 650px; /* maybe change later? */
  background-image: url("/images/earth.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
}

.main-image-title {
  position: absolute;
  color: #ffffff;
  top: 20%;
  left: 5%;
}

.main-image-title h1 {
  font-size: 4.5rem;
  letter-spacing: 10px;
}

/* text goes to center, looks better for mobile */
@media (max-width: 960px) {
  .main-image-title {
    width: 80%; /* needed for paragraph text spread */
     /* RECENTER TO MIDDLE */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
  }

  .main-image-title h1 {
    margin-bottom: 0px;
    font-size: 7.5rem;
    letter-spacing: 5px;
  }

  .main-image-title p {
    margin-top: 0px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .main-image-title {
    width: 100%; /* needed for text spread adjustment */
  }

  .main-image-title p {
    font-size: 1.1rem;
  }
}

/* ---------- MAIN IMAGE -> BUTTON ---------- */

.main-image-btn {
  background-color: #ed1c24;
}

/* ---------- MAIN IMAGE -> ARTICLES ---------- */

.main-articles {
  position: absolute;
  bottom: 5%;
  
  /* mayber better to just use width if possible? need to check */
  left: 5%;
  right: 5%;

  display: flex;
  justify-content: space-around;
  text-align: center; /* needed for author names */
}

.article-title {
  font-size: 0.75rem;
  color: #dddddd;
  margin-bottom: 5px;
}

.link-title {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-title:hover {
  color: #ed1c24;
}

.arrow {
  color: #ed1c24;
  font-weight: 700;
}

/* when going under large screen (desktop) sizes, make the articles on the main image section disappear */
@media (max-width: 960px) {
  .main-articles {
    display: none;
  }
}

/* ---------- FEATURED ARTICLES ---------- */

/* FEATURED ARTICLES -> TITLES */
.featured-header {
  display: flex;
  justify-content: space-between; /* move both to opposite ends */
  align-items: center; /* center for y axis */
  width: 75%;
  margin: 50px auto;
}

.featured-header h2 {
  font-size: 3rem;
  margin: 0;
}

.more-link {
  font-weight: 700;
  color: #dd3445;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.more-link:hover {
  opacity: 0.65;
}

@media (max-width: 960px) {
  .featured-header {
    width: 100%;
    justify-content: center; /* move to center for tablets, mobile */
  }

  /* more articles text will disappear under 960px */
  .more-link {
    display: none;
  }
}

/* looks good all the way to iPhone SE, don't think we should make this any smaller */
@media (max-width: 480px) {
  .featured-header h2 {
    font-size: 2.5rem;
  }
}

/* FEATURED ARTICLES -> CARDS */

.featured-articles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* span for 2 for large, span for 1 for both small */
  /* grid-template-rows: auto auto; */
  /* grid-template-rows: repeat(2, 1fr); /* 2x2 grid */
  margin: 0 auto;
  gap: 20px;
  width: 75%;
}

/* make all articles the same height -> DO NOT TOUCH */
.featured-articles .featured-card,
.featured-articles .featured-card img {
  height: 100%;
}

.featured-article.large {
  /* you might ask yourself why these are opposite, right? i have literally no clue but it works */
  /* [-> HERE] read this I added somewhat of an explanation for you */

  grid-column: 1 / 2; /* from START of first column to START of second column -> means this will take ONLY ONE COLUMN in width */
  grid-row: 1 / 3; /* from START of first row to START of third row -> means this will take TWO ROWS in height */
}

@media (max-width: 960px) {
  .featured-articles {
    grid-template-columns: 1fr; /* all articles to go in a single column for tablets, mobile */
    gap: 20px;
    width: 85%;
  }
}

/* FEATURED ARTICLES -> CARD TITLES AND TEXT */
.featured-card {
  position: relative;
  overflow: hidden; /* stop text and background from getting out of the div */
  transition: transform 0.3s ease-in-out;
}

.featured-card:hover {
  transform: scale(1.05);
}

.featured-card img {
  width: 100%;
}

.featured-content {
  position: absolute;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.35);
  color: #ffffff;
  width: 100%; /* stretch background through all of the card, regardless of when the text ends */
  padding: 0px 10px;
}

.featured-article p {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.featured-article h1 {
  width: 90%;
  font-size: 1rem;
}

.featured-article.large h1 {
  font-size: 1.3rem;
}

/* ---------- SECONDARY IMAGE ---------- */

.secondary-image {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("/images/earth2.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
  margin-top: 70px; /* maybe less? need to check later */
}

.secondary-image-title {
  position: absolute;
  width: 65%;
  color: #ffffff;

  /* CENTER TO MIDDLE */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
}

.secondary-image-title h1 {
  margin: 0px;
  font-size: 4.5rem;
}

.secondary-image-btn {
  background-color: #0550d8;
}

@media (max-width: 960px) {
  .secondary-image-title {
    width: 90%; /* needed for paragraph text spread */
  }

  .secondary-image-title h1 {
    font-size: 3.5rem;
  }

  .secondary-image-title p {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .secondary-image-title {
    width: 100%; /* needed for text spread adjustment */
  }

  .secondary-image-title h1 {
    font-size: 2.5rem;
  }
}

/* ---------- LEARN MORE SECTION ---------- */

/* LEARN MORE -> TITLES */
.learn-more {
  text-align: center;
  margin-top: 40px;
}

.learn-more p {
  margin-bottom: 5px;
  /*font-size: 12px;*/ /* looks abit unreadable on 4K screens, probably should leave this out */
}

.learn-more h1 {
  margin: 0px 0px 40px 0px;
  font-size: 3rem;
}

/* LEARN MORE -> CARDS */
.topic-card-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.image-overflow {
  height: 500px; /* block card scale in by making the height the same as the topic-image, makes a cool zoom-in effect on the image */
  overflow: hidden;
}

.image-overflow:hover .topic-image {
  transform: scale(1.075);
}

.topic-image {
  width: 100%;
  height: 500px;
  object-fit: cover; /* keep original aspect ratio, fill container */
  transition: transform 0.3s ease-in-out;
}

.topic-card h2 {
  font-size: 1rem;
  color: #000000;
  margin: 20px 30px 0px 30px; /* make the border-top line smaller than the length of the image */
  padding-top: 10px;
  border-top: 2px solid #eeeeee;
}

.topic-link {
  text-decoration: none;
}

@media (max-width: 960px) {
  .topic-card-main {
    grid-template-columns: 1fr; /* single column */
    width: 85%;
    gap: 20px;
  }

  .topic-image {
    max-height: 150px;
  }
  
  .image-overflow {
    height: 150px; /* resize "zoom-in (block) effect" for tablet, mobile */
  }
}

/* ---------- THIRD IMAGE ---------- */

.third-image {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url("/images/space.webp");
  background-size: cover; /* stretch to fit */
  background-position: center;
  margin-top: 50px;
}

.third-image-title {
  position: absolute;
  width: 80%;
  color: #ffffff;

  /* CENTER TO MIDDLE */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.third-image-title h1 {
  margin: 0px;
  font-size: 3.5rem;
}

.third-image-title p {
  font-weight: 700;
  margin-bottom: 20px;
}

.third-image-btn {
  background-color: #ab3b25;
}

@media (max-width: 960px) {
  .third-image-title h1 {
    font-size: 2rem;
  }

  .third-image-title p {
    font-size: 0.8rem; /* look good, maybe too small? might change later but kinda irrelevant */
  }
}