/* ---------- PLANETARY MAIN IMAGE ---------- */

.planetary-main-image {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("/images/solarsystemplanetary.webp");
    background-size: cover; /* stretch to fit */
    background-position: center;
  }

  .planetary-image-title {
    position: absolute;
    width: 75%;
    
    /* CENTER TO MIDDLE */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }
  
  .planetary-image-title h1 {
    font-size: 4.5rem;
    margin-bottom: 0px;
  }

  @media (max-width: 960px) {
    .planetary-image-title {
      width: 80%; /* needed for paragraph text spread */
    }
  
    .planetary-image-title p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .planetary-image-title {
      width: 90%; /* needed for text spread adjustment */
    }
  
    .planetary-image-title h1 {
      font-size: 4rem;
    }
  
    .planetary-image-title p {
      font-size: 1.1rem;
    }
  }

/* ---------- PLANETARY SECTION ---------- */

.planetary-row {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px; /* fixed height for every row */
  overflow: hidden; /* stop images from breaking x-axis for webpage */
}

/* SUN CENTER FIX -> if you center it by the div, it will center based on the text, the sun will be off-centered */
.sun-row img {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* center by y, move up by HALF OF THE ELEMENTS HEIGHT (DIV) -> could maybe use align-items, but whatever */
  width: 500px;
  height: 500px;
}

.left-planet {
  left: -10%;
}

.right-planet {
  right: -10%;
}

.planet img {
  /* DO NOT TOUCH */
  width: 100%;
  height: 100%;
}

.planet-info {
  z-index: 1; /* planet information text will be above the planet images */
  text-align: center;
  max-width: 60%; /* text width -> don't change to normal width: 60%, this looks way better */
}

.planet-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.planet-info p {
  line-height: 1.8;
}

.planet img {
  object-fit: contain;
  padding: 10px; /* kinda pointless but it looks better */
}

@media (max-width: 960px) {
  .planet {
    width: 300px;
    height: 300px;
  }

  .planet-info h2 {
    font-size: 3rem;
  }

  .left-planet {
    left: -15%;
  }

  .right-planet {
    right: -15%;
  }
}

@media (max-width: 480px) {
  .left-planet {
    left: -45%;
  }

  .right-planet {
    right: -45%;
  }
}